/* start global */
:root {
  --darksiena: #3e000c;
  --claret: #7c0b2b;
  --red: #d10000;
  --tartorange: #fb4b4e;
  --bone: #e8dbc5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Ubuntu", sans-serif;
  color: #b6bab8;
}
body {
  min-width: 100%;
  min-height: 100%;
  background: url(/images/freeimg_98381253freejpg850.jpg) fixed no-repeat;
  background-size: cover;
}
img {
  width: 100%;
}

/* end global */
/* start reusable */
a {
  text-decoration: none;
}
h1 {
  font-size: 1.5rem;
  letter-spacing: 0.15em;
}
.heading {
  text-transform: uppercase;
  color: #fbf54b;
  font-weight: 300;
  letter-spacing: 2px;
}

h6 {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  font-family: "Caveat", cursive;
  color: #fb4ba6;
}
p {
  font-size: 0.8rem;
  word-spacing: 0.4em;

  color: #4bfbf5;
}
.container {
  /* display: flex;
  flex-direction: column; */
  width: 75%;
  max-width: 920px;
  margin: 0 auto;
  padding: 1em;
  height: 100%;
  position: relative;
}

header {
  width: 100%;
  height: 100vh;
  border-bottom: 10px groove #fbf54b;
}
/* navigation */
.top-nav {
  margin: 0 auto;
}
.nav-list {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  align-items: center;
}
.nav-link {
  color: #fbf54b;
  font-family: "Cedarville Cursive", cursive;
}
.nav-link:hover {
  color: #4bfbf5;
}
ul {
  list-style: none;
}
li {
  margin: 0.25em;
}

/* title */
.banner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing-text {
  color: white;
  font-family: "Caveat", cursive;
  font-size: 1rem;
  margin-bottom: 1.5em;
}
.landing-text:hover {
  background: linear-gradient(to top, #fbf54b, #fb4ba6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 span {
  color: #fbf54b;
}
button {
  background: none;
  border: none;
  border: 1px solid #fb4ba6;
  padding: 1em;

  display: flex;
  margin: 0 auto;
}
button a {
  text-transform: uppercase;
  color: #fb4ba6;
  font-weight: 400;
  letter-spacing: 2px;
}
button .fa {
  opacity: 0;
}
button:hover {
  border-radius: 1em;
  border-color: #fbf54b;
}
button:hover .fa {
  animation: arrowdown 3s forwards;
}
button a:hover {
  color: #fbf54b;
}

@keyframes arrowdown {
  to {
    opacity: 1;
    transform: rotate(-90deg);
  }
}

@media (min-width: 575px) {
  .nav-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .landing-text {
    top: 50%;
  }
}

/* ---------end header -----------*/

/*-------- start about ------------*/

.container-about {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fbf54b;
}
.profile-img img {
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  position: relative;
  width: 100%;
  display: block;
  align-content: center;
}

.about-heading h6 {
  border-bottom: 1px solid #4bfbf5;
  margin: 0 1em;
}
.about-details p {
  text-align: justify;
}

.social-media {
  display: flex;
  margin: 0.5em auto;
  width: 100%;
  justify-content: space-evenly;
  /* border: 1px solid white; */
}

.icon-link i {
  font-size: 3rem;
  padding: 0.1em;
  color: #fbf54b;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 8s linear infinite;
  animation: spin 13s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media (min-width: 575px) {
  .container-about {
    display: flex;
    flex-direction: row;
  }
  .about-details,
  .about-heading {
    margin-left: 1em;
  }
  .profile-img img {
    width: 400px;
  }
  p {
    font-size: 1rem;
    margin-bottom: 3em;
  }
}
/*---------------end about --------*/
/* -----------start of services -------- */
.section-heading h6 {
  border-bottom: 1px solid #4bfbf5;
  margin: 0 1em;
}

.my-skills {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
.skill {
  background-color: rgba(255, 255, 255, 0.096);
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.skill:hover {
  -webkit-animation: shadow-drop-2-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.541);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.548);
  }
}

.skill h1 {
  color: white;
  letter-spacing: 0.4em;
  margin-bottom: 0.5em;
}
.skill p {
  text-indent: 1em;
}
.icon-container {
  width: 5em;
  height: 5em;
  border: 3px #fbf54b solid;
  background-color: #fb4ba6;
  margin: 1.5em;
  display: flex;
  transform: rotate(45deg);
}
.icon-container i {
  color: #fbf54b;
  font-size: 3rem;
  margin: auto;
  transform: rotate(-45deg);
}

@media (min-width: 575px) {
  .my-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }
}
/* ------start skills-------- */
.container-small {
  border-bottom: 1px solid #fbf54b;
}
.skills-heading h1 {
  margin-bottom: 0.5em;
}
.skills-item-container {
  border: 1px solid #4bfbf5;
  margin: 1em;
}
.skills-item {
  color: white;
  text-transform: uppercase;
  background-color: #fb4ba6;
  width: 6em;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Caveat", cursive;
}

.skills-html:hover {
  animation: skills-html 2s forwards;
  background-color: #fbf54b;
}

@keyframes skills-html {
  to {
    width: 80%;
  }
}
.skills-css:hover {
  animation: skills-css 2s forwards;
  background-color: #4bfbf5;
}

@keyframes skills-css {
  to {
    width: 80%;
  }
}
.skills-sass:hover {
  animation: skills-sass 2s forwards;
  background-color: #fbf54b;
}

@keyframes skills-sass {
  to {
    width: 60%;
  }
}
.skills-bootstrap:hover {
  animation: skills-bootstrap 2s forwards;
  background-color: #4bfbf5;
}

@keyframes skills-bootstrap {
  to {
    width: 50%;
  }
}
.skills-js:hover {
  animation: skills-js 2s forwards;
  background-color: #fbf54b;
}

@keyframes skills-js {
  to {
    width: 60%;
  }
}
.skills-react:hover {
  animation: skills-react 2s forwards;
  background-color: #4bfbf5;
}

@keyframes skills-react {
  to {
    width: 50%;
  }
}
.skills-json:hover {
  animation: skills-json 2s forwards;
  background-color: #fbf54b;
}

@keyframes skills-json {
  to {
    width: 50%;
  }
}
.skills-java:hover {
  animation: skills-java 2s forwards;
  background-color: #4bfbf5;
}

@keyframes skills-java{
  to {
    width: 60%;
  }
}

.skills-mysql:hover {
  animation: skills-mysql 2s forwards;
  background-color: #fbf54b;
}
@keyframes skills-mysql{
  to {
    width: 80%;
  }
}
.skills-git:hover {
  animation: skills-git 2s forwards;
  background-color: #4bfbf5;
}
@keyframes skills-git {
  to {
    width: 60%;
  }
}

.skills-node:hover {
  animation: skills-node 2s forwards;
  background-color: #fbf54b;
}


@keyframes skills-node {
  to {
    width: 90%;
  }
}

/* --------end skils -------- */
/* ---------start of portfolio ------ */
.portfolio-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  grid-gap: 1em;
}
.portfolio-item {
  margin-top: 1em;
  background-color: rgba(255, 255, 255, 0.096);
  padding: 1em;
  text-align: center;
}
.portfolio-description h1 {
  color: #fbf54b;
  text-align: start;
  text-shadow: 2px 2px #fb4ba6;
}
.portfolio-description p {
  margin-bottom: 1em;
}
.cta {
  color: #fbf54b;
  text-align: right;
  border: 1px solid #fbf54b;
  padding: 0.5em;
}
.cta:hover {
  background-color: #fb4ba6;
  color: #4bfbf5;
}
.portfolio-img img {
  margin-top: 1em;
  border: 2px solid white;
  border-top-left-radius: 30%;
}
/* ------end of portfolio------ */
/* ------start of contact----- */

.contact h6 {
  margin-bottom: 1em;
}
.form-container {
  text-align: center;

  color: #fbf54b;
}
.contact input,
.contact textarea {
  margin: 0.5em 0;
  width: 75%;
  background-color: #4bfbf5;
  opacity: 0.3;
}
.submit {
 margin:1em;

}
.contact a {
  border:1px solid #fb4ba6;
  padding: 1em 2em;
  color: #fb4ba6;
  opacity: 1;
 
 
}
.contact a:hover{
  animation: submit 2s forwards;
  box-shadow: #4bfbf5 3px 1px;
}
@keyframes submit{
  0%{}
  33.3%{color: #fbf54b; border: 1px solid  #fbf54b;}
  66.6%{color: #fb4ba6; border: 1px solid  #fb4ba6;}
  100%{color: #4bfbf5; border: 1px solid  #4bfbf5;}
}
/* -------------end of contact ------*/
/* footer */
footer{
  background-color: #e314b9;
  margin:0;
 padding:0.8em;
}
footer p{
  margin-top: 0.5em;
  letter-spacing: 0.1em;
 font-family: "Caveat", cursive;
}
footer .fa{
  float: right;
  font-size: 4.5vw;
  color:#fbf54b;
  margin-right: 0.5em;
}

/* start reusable */
/* end reusable */
