$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$special-font: 'Balsamiq Sans', cursive;

$yellow: #fbff01e0;
$lighter-yellow: #f1f38a;
$black: #0b0c0b;
$white: #ffffffe0;
$pink: #bd6093;
$grey: rgb(207, 204, 204);
$light-grey: rgba(219, 219, 219, 0.726);
$dark-grey: rgb(71, 69, 69);
$blue: blue;

$border-radius: 2px;

// animations
.animate__animated.animate__bounce {
  --animate-duration: 3s;
}
.animate__animated .animate__backInRight {
  --animate-duration: 1s;
}
// general styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $primary-font;
  background-color: $grey;
  overflow-x: hidden;
}
h1 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: 600;
  letter-spacing: 0.2rem;
  line-height: 0.9;
  color: $black;
  font-family: $primary-font;
  text-transform: uppercase;
}
h2 {
  font-size: clamp(1rem, 2.5vw, 1.3rem);
  font-family: $primary-font;
  font-weight: 300;
  color: $dark-grey;
  margin: 1.5em 0;
}
h3 {
  font-size: 1.5rem;
  display: inline-block;
  letter-spacing: 0.15rem;
  font-weight: 500;
  position: relative;
  width: auto;

  &::before {
    content: '';
    position: absolute;
    bottom: -0.8rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 7px;
    background-color: $pink;
  }
}

h4 {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  border-bottom: 1px solid $pink;
}
h5 {
  color: $white;
  font-size: 1rem;
}
h6 {
  color: $pink;
  font-size: 2rem;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: $white;
  font-family: $primary-font;
  font-weight: 400;
  text-transform: uppercase;
}
.btn {
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: $border-radius;

  // color: $pink;
  color: $white;
  background-color: $pink;
  font-weight: bold;
  font-family: $secondary-font;
  transition: all 1s;

  &:hover {
    filter: brightness(0.8);
  }

  &:active {
    transform: scale(0.98);
  }
  &:focus {
    outline: none;
  }
}

// header
header {
  width: 100%;

  .social-media {
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
    text-align: center;

    i {
      padding: 0 0.3rem;
      color: $black;
      font-size: 2rem;
      &:hover,
      &:focus {
        color: $pink;
        transform: scale(1.2);
      }
    }
  }
}

.banner {
  display: flex;
  align-items: center;
  height: calc(100vh - 35px);
  background: url(./images/ideaBW.svg) no-repeat;
  background-size: contain;
  background-position: right bottom;
  text-align: center;

  &__title {
    margin: 0 2em;
    padding: 1em 0.2em;
    max-width: 500px;
    text-align: left;

    .special-text {
      color: $pink;
    }
  }
  @media screen and (max-width: 800px) {
    align-items: flex-start;
    justify-content: center;
    margin-top: 15em;
  }
}

// skills section
.skills {
  width: 100%;
  background-color: $white;
  padding: 2em;
  font-size: 1.5rem;
  color: $black;
  text-align: center;

  h3 {
    margin-bottom: 2em;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .skills-btn {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #f5b0d6;
    margin: 0 2rem 2rem 0;
    border-radius: $border-radius;
    transition: 0.2s;
    transform: translate(0, 0) rotateY(0) skewY(0, 0);
    transition: 0.2s;
  }
  .skills-btn:hover {
    transform: translate(-15px, -5px) rotateY(-15deg) skewY(-10deg);
  }
  .skills-btn:hover i {
    color: white;
  }
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    z-index: 10;
    transition: 0.2s;
  }
  .skills-btn span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    transition: 0.2s;
    transform: translate(0, 0);
  }
  .skills-btn span:nth-of-type(4) {
    transform: translate(-4px, -4px);
    translate: 0.2s;
    z-index: 0;
    border-radius: $border-radius;
    opacity: 0.5;
    border-top: 1px solid black;
    border-left: 1px solid black;
  }
  .skills-btn:hover span:nth-of-type(1) {
    transform: translate(8px, 4px);
    background-color: #e08dbb;
  }
  .skills-btn:hover span:nth-of-type(2) {
    transform: translate(16px, 8px);
    background-color: #bd6093;
  }
  .skills-btn:hover span:nth-of-type(3) {
    transform: translate(24px, 12px);
    background-color: #94386a;
  }
  .skills-btn span:nth-of-type(4)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: $border-radius;
    border-bottom: 1px solid black;
    transition: 0.2;
  }
  .skills-btn span:nth-of-type(4)::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    border-right: 1px solid black;
    border-radius: $border-radius;
    transition: 0.2;
  }
  .skills-btn:hover span:nth-of-type(4)::before {
    width: 100%;
    transition-delay: 0.4s;
  }
  .skills-btn:hover span:nth-of-type(4)::after {
    height: 100%;
    transition-delay: 0.6s;
    top: 0;
  }
  .skills-btn:hover span:nth-of-type(4) {
    transform: translate(30px, 16px);
    transition-delay: 0.2s;
  }
}
// -------------------------------------------
// Projects
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  .projects-categories {
    margin: 4em 0;
    width: 75%;
    max-width: 400px;
    height: 2em;
    border-radius: $border-radius;
    background-color: $light-grey;
    color: $black;
    border-color: $pink;
    text-align: center;
    padding: 0 0.5em;

    &:active,
    &:focus {
      outline: none;
    }
  }

  &--extra {
    color: $black;
    text-transform: uppercase;
    text-align: center;
    margin: 1em 1em 2em;

    &:hover {
      color: $pink;
      transform: scale(1.1);
    }
  }
}
.projects-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  // margin: auto;
  width: 100%;

  // grid-template-columns: 1fr;
}

.projects--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 1000px;
  margin: 2em auto 2em;
  background-color: $white;

  .description {
    width: 100%;
    text-align: center;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 2em;
    background-color: white;

    &--text {
      margin: 1em 0 2em;
    }
  }
  .video--container {
    width: 100%;

    .video {
      width: 100%;
      height: auto;
      border-radius: $border-radius;
    }
  }
  .iconify {
    font-size: 2rem;
    color: $black;
    margin-top: 1rem;

    &:hover {
      color: $pink;
    }
  }
  .btn-container {
    margin-top: 1rem;

    .btn-small {
      padding: 0.3rem 0.5rem;
      border: 1px solid $pink;
      border-radius: $border-radius;
      color: $pink;
      font-weight: 500;
      font-family: $primary-font;
      transition: all 1s;

      &:hover {
        background-color: $pink;
        color: $white;
      }
    }
  }

  // @media screen and (min-width: 800px) {
  //   // flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100%;
  //   margin: 2em;
  //   padding-right: 2em;
  //   // min-width: 800px;
  //   border: 1px solid red;

  //   .description {
  //     margin: 0 0 0 1em;
  //   }

  //   .video--container {
  //     width: 100%;

  //     video {
  //       width: 100%;
  //       height: 100%;
  //     }
  //   }
  // }
}

// .projects-item {
//   margin: 1rem;
//   border-radius: $border-radius;
//   text-align: center;
//   position: relative;
//   box-shadow: 0 5.6px 5.3px rgba(0, 0, 0, 0.035),
//     0 18.8px 17.9px rgba(0, 0, 0, 0.063), 0 84px 80px rgba(0, 0, 0, 0.12);

//   img {
//     width: 100%;
//     height: 100%;
//     border-radius: $border-radius;
//     display: block;
//     transition: all 1s;
//   }
//   .img-text {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     text-align: center;
//     opacity: 0;
//     transition: opacity 4s;
//     width: 100%;
//     height: 100%;
//     margin: 0.2rem;

//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;

//     .iconify {
//       font-size: 2rem;
//       color: $black;
//       margin-top: 1rem;

//       &:hover {
//         color: $pink;
//       }
//     }
//     .btn-container {
//       margin-top: 1rem;

//       .btn-small {
//         padding: 0.3rem 0.5rem;
//         border: 1px solid $pink;
//         border-radius: $border-radius;
//         color: $pink;
//         font-weight: 500;
//         font-family: $primary-font;
//         transition: all 1s;

//         &:hover {
//           background-color: $pink;
//           color: $white;
//         }
//       }
//     }
//   }

//   &:hover img {
//     opacity: 0.1;
//     transform: scale(1.3);
//   }

//   &:hover .img-text {
//     opacity: 1;
//   }
// }

// @media screen and (min-width: 800px) {
//   .projects-container {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-column-gap: 1em;
//   }
// }
// @media screen and (min-width: 1200px) {
//   .projects-container {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-column-gap: 1em;
//   }
// }

.show {
  display: block;
}
.hidden {
  display: none;
}

// --------------------
// footer
.footer {
  background-color: $black;
  height: 10em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  h5 {
    margin-left: 0.5rem;
    color: $white;
  }

  .social-media {
    font-size: 2rem;

    a {
      color: $white;
      position: relative;
      margin-left: 1rem;
      transition: all 1s;

      &:hover {
        color: $pink;
        top: -1rem;
      }
    }
  }
}
