$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$special-font: 'Balsamiq Sans', cursive;

$yellow: #fbff01e0;
$lighter-yellow: #f1f38a;
$blue: #2700fe;
$green: #c6f1d2;
$black: #0b0c0b;
$red: #f05579;
$salmon: #fac9b9;
$white: #ffffffe0;

$light-blue: #5dbcd2;
$pink: #f27292;

// animations
.animate__animated.animate__bounce {
  --animate-duration: 3s;
}
.animate__animated .animate__backInRight {
  --animate-duration: 1s;
}
// general styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $primary-font;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: $black;
  font-family: $special-font;
  text-transform: uppercase;
}
h2 {
  font-size: 2rem;
  font-family: $special-font;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.btn {
  border: 2px solid $blue;
  padding: 0.5rem;
  border-radius: 10px;
  color: $blue;
  font-weight: bold;
  font-family: $secondary-font;
  transition: all 1s;

  &:hover {
    font-weight: 900;
    letter-spacing: 0.2rem;
    border: 5px solid $blue;
  }
}
.underline {
  width: 10rem;
  height: 0.5rem;
  background-color: $yellow;
}
// header
header {
  width: 100%;
  min-height: 100vh;
  .social-media {
    width: 100%;
    margin-top: 1rem;
    text-align: center;

    i {
      padding: 0 0.3rem;
      color: $black;
      font-size: 2rem;
      &:hover,
      &:active {
        color: $yellow;
        transform: scale(1.2);
      }
    }
  }
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;

  &__img-container {
    width: 80%;
    // height: 50%;
  }

  &__title {
    text-align: center;
    margin-top: 3rem;
    padding-left: 1rem;
    line-height: 3rem;
    // height: 30%;

    .special-text {
      color: $blue;
      font-weight: 800;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px black;
    }
  }
}
@media screen and (min-width: 600px) {
  .banner {
    width: 100%;
  }
  .btn {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .banner {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .banner__img-container {
    width: 60%;
    align-self: flex-start;
  }
  .banner__title {
    width: 40%;
  }
}

// about section
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $black;
  padding: 2rem;
  font-size: 1.5rem;
  color: $white;

  h2 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  p {
    margin: 1rem;
    letter-spacing: 0.1rem;
  }
}
// -------------------------------------------
// Projects
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  h2 {
    font-size: 3rem;
  }
}
.projects-container{
  display: grid;
  grid-template-columns: 1fr;
}
.projects-item{
  margin: 1rem;
border-radius: 10px;
  text-align: center;
  position: relative;
  box-shadow:
  0 5.6px 5.3px rgba(0, 0, 0, 0.035),
  0 18.8px 17.9px rgba(0, 0, 0, 0.063),
  0 84px 80px rgba(0, 0, 0, 0.12)
;
  
  img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: all 1s;
  }
  .img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 4s;
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h4{
      font-size: 2rem;
    }
    .iconify{
      font-size: 2rem;
      color: $black;
      margin-top: 0.5rem;

      &:hover{
        color: $blue;
      }
    }
    .btn-container{
      margin-top: 1rem;

      .btn-small{
        padding: 0.3rem 0.5rem;
        border: 1px solid $blue;
        color: $blue;
        font-weight: bold;
        font-family: $secondary-font;
        transition: all 1s;

        &:hover{
          border-radius: 20px;
        }

      }
    }
  }

&:hover img {
  opacity:0.1;
  transform: scale(1.3);
}


&:hover .img-text {
  opacity: 1;
}
}

@media screen and (min-width: 800px){
  .projects-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1em;
  }
}
@media screen and (min-width: 1200px){
  .projects-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1em;
  }
}

// --------------------
// footer
.footer{
  background-color: $black;
  height: 3rem;
  width: 100%;
  color: $yellow;

  h3 {
    padding: 0.5rem 1rem;
  }
}